//Shared Variables
    
    //Breakpoints

    $breakpoint-mobile: 650px;

    //Fonts

    $primary-font: 'Raleway';
    $brand-logo-font: 'Londrina Shadow';

    //Colors

    $primary-color: rgb(175, 239, 250);
    $secondary-color: #59dbfc;