/*Shared Variables*/
.appContentWrapper {
  min-height: 100%;
  flex-direction: column; }
  .appContentWrapper .appHeaderDesktop {
    display: none; }
  @media screen and (min-width: 650px) {
    .appContentWrapper .appHeaderMobile {
      display: none; }
    .appContentWrapper .appHeaderDesktop {
      display: block; }
    .appContentWrapper .appContent {
      margin: 0 auto;
      width: 100%; } }
