@import "../../sass/shared.scss";

.appContentWrapper {
  min-height: 100%;
  flex-direction: column;

  .appHeaderDesktop {
    display: none;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    .appHeaderMobile {
      display: none;
    }
    .appHeaderDesktop {
      display: block;
    }

    .appContent {
      margin: 0 auto;
      width: 100%;
    }
  }
}
