.appContentWrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column; }
  .appContentWrapper .appHeaderDesktop {
    display: none; }
  .appContentWrapper .appContent {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex: 1; }
