/*Shared Variables*/
.login-container {
  height: 85vh;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  background-color: #afeffa;
  width: 100%;
  align-items: center;
  padding-top: 20px; }
  .login-container .login-page-alfred-details {
    display: none; }
  .login-container .login-page-desktop-right h4 {
    display: none; }
  .login-container .login-page-title {
    display: flex;
    margin-bottom: 1em; }
    .login-container .login-page-title div img {
      margin: 10px;
      height: 70px; }
    .login-container .login-page-title h2 {
      font-family: "Londrina Shadow";
      font-size: 70px;
      letter-spacing: 3px;
      margin: 10px; }
  .login-container .login-page-tagline {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: "Raleway";
    font-weight: 400;
    font-style: italic;
    text-align: center; }

.speech-bubble {
  position: relative;
  background: #fdfff5;
  border-radius: .4em;
  padding: .25em; }

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 26%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #fcfffe;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px; }

@media screen and (min-width: 650px) {
  .login-container {
    display: flex;
    flex-direction: row;
    padding-top: 0px; }
    .login-container .login-page-title h2 {
      font-size: 85px; }
    .login-container .login-page-title div img {
      height: 90px; }
    .login-container .login-page-desktop-left {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .login-container .login-page-desktop-left .login-page-alfred-details {
        display: flex;
        margin-bottom: 3em;
        margin-top: 3em; }
        .login-container .login-page-desktop-left .login-page-alfred-details .login-page-alfred-details-window {
          height: 200px;
          width: 17vw;
          margin: .5em;
          max-width: 200px;
          text-align: center; }
          .login-container .login-page-desktop-left .login-page-alfred-details .login-page-alfred-details-window h4 {
            font-family: "Raleway";
            font-size: 18px; }
          .login-container .login-page-desktop-left .login-page-alfred-details .login-page-alfred-details-window p {
            font-family: "Raleway";
            font-size: 16px; }
    .login-container .login-page-desktop-right {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 2px dashed #59dbfc;
      flex-direction: column; }
      .login-container .login-page-desktop-right h4 {
        display: block;
        font-family: "Raleway";
        font-size: 22px;
        margin: 1.5em;
        font-weight: 500; }
      .login-container .login-page-desktop-right .login-box-container {
        padding-bottom: 4em; }
    .login-container .speech-bubble:after {
      left: 18%; } }
