@import "../../sass/shared.scss";

.login-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  width: 100%;
  align-items: center;
  padding-top: 20px;

  .login-page-alfred-details {
    display: none;
  }

  .login-page-desktop-right h4 {
    display: none;
  }

  .login-page-title {
    display: flex;
    margin-bottom: 1em;
    div img {
      margin: 10px;
      height: 70px;
    }
    h2 {
      font-family: $brand-logo-font;
      font-size: 70px;
      letter-spacing: 3px;
      margin: 10px;
    }
  }
  .login-page-tagline {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: $primary-font;
    font-weight: 400;
    font-style: italic;
  }
}

.speech-bubble {
	position: relative;
	background: #fdfff5;
  border-radius: .4em;
  padding: .25em
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 26%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #fcfffe;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

@media screen and (min-width: $breakpoint-mobile) {
  .login-container {
    display: flex;
    flex-direction: row;
    padding-top: 0px;

    .login-page-title {
      h2 {
        font-size: 85px;
      }
      div img{
      height: 90px;
      }
    }

  .login-page-desktop-left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .login-page-alfred-details {

      display: flex;
      margin-bottom: 3em;
      margin-top: 3em;

    .login-page-alfred-details-window {
      height: 200px;
      width: 17vw;
      margin: .5em;
      max-width: 200px;
      text-align: center;

      h4{
      font-family: $primary-font;
      font-size: 18px;
      }
      p {
        font-family: $primary-font;
        font-size: 16px;
      }
    }}
  }
  .login-page-desktop-right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px dashed $secondary-color;
    flex-direction: column;
    h4 {
      display: block;
      font-family: $primary-font;
      font-size: 22px;
      margin: 1.5em;
    }
    .login-box-container {
      padding-bottom: 4em;
    }
  }

  .speech-bubble:after {
    left: 18%;

  }
}}