@import "../../sass/shared.scss";

.login-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(121, 228, 247);
  width: 100%;
  align-items: center;
  padding-top: 30px;

  .login-page-title {
    display: flex;
    h2 {
      font-family: $brand-logo-font;
      font-size: 50px;
      letter-spacing: 3px;
      margin: 10px;
    }
  }
  .login-page-tagline {
    font-size: 25px;
    margin-bottom: 50px;
    font-family: $primary-font;
    font-weight: 400;
    font-style: italic;
  }
}
