.login-paper {
    height: 300px;
    width: 65vw;
    min-width: 256px;
    max-width: 600px;
    display: 'inline-block';
}

.login-field {
    display:flex;
    justify-content: center;
}

.login-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-button {
    width: 150px;
}