@import "../../sass/shared.scss";

.welcome-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  width: 100%;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;

  .welcome-text {
    font-family: $primary-font;
    margin: 2em;
    font-weight: 500;
  }

  .welcome-page-main {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    max-width: 450px;

    img {
        width: 100%;
    }
  }
}
