.welcome-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: #afeffa;
  width: 100%;
  align-items: center;
  padding-top: 20px; }
  .welcome-container .welcome-text {
    font-family: "Raleway";
    margin: 2em; }
  .welcome-container .welcome-page-main {
    height: 40vh; }
