.nav-bar-container {
    display: flex;
    background-color: rgb(8, 198, 239);
    justify-content: space-between;
    height: 75px;
}

.nav-logo-container {
    width: 20%;
}

.nav-tabs-container {
    width: 60%;
}

.nav-login {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Londrina Solid';
    font-size: 20px;
}