/*Shared Variables*/
.nav-bar-container {
  display: flex;
  background-color: #59dbfc;
  justify-content: space-between;
  height: 75px; }
  .nav-bar-container .nav-logo-container {
    width: 10%;
    display: flex;
    justify-content: center; }
  .nav-bar-container .nav-tabs-container {
    width: 60%;
    max-width: 600px;
    height: 100%;
    align-items: center;
    display: flex; }
