@import "../../sass/shared.scss";

.nav-bar-container {
  display: flex;
  background-color: $secondary-color;
  justify-content: space-between;
  height: 75px;
  .nav-logo-container {
    width: 10%;
    display: flex;
    justify-content: center;
  }
  .nav-tabs-container {
    width: 60%;
    max-width: 600px;
    height: 100%;
        align-items: center;
    display: flex;
  }
}
