@import "../../sass/shared.scss";

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-around;
  width: 100%;
  a {
    text-decoration: none;
    color: black;
    :hover {
      text-decoration: underline;
    }
  }
  li {
    font-family: $primary-font;
    font-size: 22px;
    font-weight: 500;
  }
}
