.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-around;
  width: 100%; }
  .nav-list a {
    text-decoration: none;
    color: black; }
    .nav-list a :hover {
      text-decoration: underline; }
  .nav-list li {
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 500; }
